body{
background-color :#c8cccd;
margin-left: 10%;
margin-right: 10%;}
table {
text-align: center;}
li{
list-style-type: none; 
font-size: 110%;

}
h2{
	font-style: oblique;
}
p{
	font-size:20px;
margin-left: 4%;}
h3{
font-style:italic;
font-size:30px;}
